<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form action="/team" method="post">
    <h1>Create a Basketball Team!</h1>
    <p>Team Name: <input type="text" name="name" placeholder="" ></p>
    <p>Coach: <input type="text" name="coach" placeholder=""></p>
    <p>Point Gaurd: <input type="text" name="pg" placeholder=""></p>
    <p>Shooting Gaurd: <input type="text" name="sg" placeholder=""></p>
    <p>Power Forward: <input type="text" name="pf" placeholder=""></p>
    <p>Small Forward: <input type="text" name="sf" placeholder=""></p>
    <p>Center: <input type="text" name="c" placeholder=""></p>
    <p><input type="submit" value="submit" id="Submit">
  </form>
 </head>
 <body>
 </body>
</html>


